<!DOCTYPE html>
<html lang="en" th:replace="~{base :: baseLayout(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    <h1 class="mt-3 text-center">Contact Manager welcome You</h1>
    <div class="text-center">
        Save your contact and access from anywhere
    </div>
    <div class="container-sm mb-5">
        <h3 class="mt-5">Project overview</h3>
        <div>It is developed using modern technology</div>
        <div><strong>Language: </strong> Java, HTML, CSS, JavaScript, Bootstrap, Jquery</div>
        <div><strong>Tools: </strong>Spring, Spring MVC, Spring Boot, Hibernate and Thymeleaf</div>
        <div><strong>Database: </strong> MySQL</div>
        <div><strong>Version: </strong> 1.0.0</div>

    </div>
    <div class="container position-absolute bottom-0" >
        <div><strong>Auther: </strong>Ritesh Kumar</div>
        <div><strong>Email: </strong>rhkr1502@gmail.com</div>
        <div><strong>Phone: </strong>9142433432</div>
        <div><strong>Github: </strong>https://github.com/riteshrhkr/ContectManager</div>

        
    </div>
</body>

</html>