<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base ::baseLayout(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>

<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Forget Password</h1>
            <form th:action="@{/resetPassword}" method="post">
                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    <div class="invalid-feedback form-text" th:text="${emailError}"></div>
                </div>
                <div id="passwordField" class="form-group mb-3" style="display: none;">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                    <div class="invalid-feedback form-text" th:text="${passwordError}"></div>
                </div>
                <div class="form-group mb-3">
                    <button id="checkBtn" type="button" class="btn btn-primary" onclick="cehckEmail()">Check</button>
                    <button id="saveBtn" type="submit" class="btn btn-primary" style="display: none;">Save</button>
                </div>
            </form>
        </div>
        <script>
            const cehckEmail = async () => {
                var email = $("#email").val();
                const checkUser = await isUserExist(email);
                if (checkUser) {
                    $("#passwordField").show("slow");
                    $("#email").prop("readonly", true);
                    $("#checkBtn").hide("slow");
                    $("#saveBtn").show("slow");
                }
                else{
                    alert("User Not Found");
                }

            };

        </script>
</body>

</html>