<!DOCTYPE html>
<html lang="en" th:replace="~{base :: baseLayout(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${contact.name}"></title>
</head>

<body th:with="userName = ${#authentication.name}">
    <h1 class="fs-4 text-center" id="contactImage">
        <th:block th:if="${contact.image != 'default.png'}">
            <img id="profilePic" class="profile-pic" th:src="@{'/img/users/'+${userName}+'/'+${contact.image}}" alt="">
        </th:block>
        <th:block th:if="${contact.image == 'default.png'}">
            <img id="profilePic" class="profile-pic" th:src="@{/img/default_profile_pic.png}" alt="">
        </th:block>
        <div id="modal-contactName" class="m-2" style="color:#085214;"></div>
    </h1>
    <!-- Form -->
    <form id="contactForm" method="post" autocomplete="off" enctype="multipart/form-data" class="form">

        <input type="hidden" name="id" id="id">

        <!-- Name -->
        <div id="nameField" class="form-floating mb-3" style="display: none;">
            <input type="text" class="form-control" name="name" id="name" placeholder="">
            <label for="name"><i class="fa-solid fa-user me-2"></i>Contact Name</label>
        </div>

        <!-- Phone -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="phone" id="phone" minlength="10" maxlength="10" accept="[0-9]"
                placeholder="" disabled required>
            <label> <strong class="text-danger me-2">*</strong><i class="fa-solid fa-phone me-2"></i>Phone No.</label>
            <div class="invalid-feedback" id="invalidPhone"></div>
        </div>

        <!-- Email -->
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="email" placeholder="Contact Email" disabled>
            <label for="email"><i class="fa-solid fa-envelope me-2"></i>Contact Email</label>
        </div>

        <!-- address -->
        <div class="form-floating mb-3">
            <textarea name="address" id="address" class="form-control" placeholder="Address" maxlength="500"
                disabled></textarea>
            <label for="address"><i class="fa-solid fa-location me-2"></i>Contact Address</label>
        </div>

        <!-- work -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="work" id="work" placeholder="Contact Job" disabled>
            <label for="work"><i class="fa-solid fa-briefcase me-2"></i>Contact Job</label>
        </div>

        <!-- Description -->
        <div class="form-floating mb-3">
            <textarea name="description" id="description" class="form-control" placeholder="Desc" maxlength="500"
                disabled></textarea>
            <label for="description"><i class="fa-solid fa-pen me-2"></i>Contact Description</label>
        </div>

        <!-- Profile Image -->
        <div id="imageField" class="form-floating mb-3" style="display: none;">
            <input type="file" accept="image/png, image/jpeg" class="form-control" name="profileImage"
                id="profileImage">
            <label for="profileImage"><i class="fa-solid fa-image me-2"></i>Profile Image <span
                    class="text-danger">(Size must
                    be less then 2MB)</span></label>
            <div class="invalid-feedback" id="invalidProfileImage"></div>
        </div>
        <div class="modal-footer pb-0">
            <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                style="position: absolute; left: 15px;"></button>
            <button id="editBtn" type="button" class="btn btn-warning" onclick="enableContactEditing()">Edit</button>
            <button id="cancelBtn" type="button" class="btn btn-secondary" style="display: none;"
                onclick="cancelContactUpdate()">Cancel</button>
            <button id="deleteBtn" type="button" class="btn btn-danger" onclick="deleteContactBtn()">Delete</button>
            <button id="submitBtn" type="button" class="btn btn-success" style="display: none;"
                onclick="updateContact()">Update</button>
        </div>
    </form>
</body>

</html>