<!doctype html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" th:replace="~{base ::baseLayout(~{::title},~{::body})}">
<head>
	<title>Home</title>
</head>
<body style="margin-top: -10px;">
	<div class="banner center">
		<div class="text-center text-light">
			<h2>Smart Contact Manager</h2>
			<p>Manage your contact in a simple and easy way. Access from anywhere anytime and never lose important people</p>
			<a href="" class="btn btn-outline-primary btn-lg">Get Started</a>
		</div>
	</div>
</body>
</html>