<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Success</h1>
    <div th:text="${contact}"></div>
    <!-- <div th:text="${#authentication.principal.user.email}"></div> -->
    
    <img width="80%" height="80%" th:src="@{'/img/users/'+ ${#authentication.principal.user.email}+'/'+${contact.image}}" alt="">
    <!-- <img th:src="@{/img/${#authentication.principal.user.email}/${contact.image}}" alt=""> -->

</body>
</html>